# Project environment
.venv

# Node dependencies
node_modules

# Logs
logs
*.log

# exclude secrets
.env

# exclude cache
*.pyc
__pycache__/

# testing
.pytest_cache/
.coverage
htmlcov/

# Ignore following directories
.todo/
.tmp/
.codewhale/
.secret/

# exclude tailwind utilites
vlab/static/styles/style.css